{% extends 'base.html' %}
{% block content %}
<h1 class="display-3 text-center">Bart Crimes</h1>
<h2 class="text-center">Making Public Information Public</h2>


    <p>In spite of a <a href="http://www.mercurynews.com/2017/07/11/board-directors-to-police-increase-transparency-about-crimes-on-bart/">recent initiative</a> 
    to "increase public's access to BART crime data", they have in fact been 
    <a href="http://www.mercurynews.com/2017/07/11/bart-police-chief-crime-reports-released-to-public-on-case-by-case-basis/">reducing the amount of crime information they publish</a> 
    because of <a href="http://www.foxnews.com/us/2017/07/25/bart-officials-withhold-crime-surveillance-tapes-for-fear-racial-stereotyping-memo-shows.html">fear
    of racial sterotyping</a>. While I agree with the notion that it would be a shame if 
    racial biases are formed for any reason, I am of the firm belief that 
    it is not BART's job to hide information from us. <b>Nor is it their right.</b></p>

    <p>BART has reduced their daily crime updates to a mailing list which requires approval. The information on this site 
    is scraped from those daily emails and posted. <b>I only have emails back to July 22, 2017. 
    If anyone has more, please <a href="http://www.bugben.com">reach out to me</a>.</b></p>

    <p>I created this site while sitting on BART for my daily commute back and forth from Fremont
    to San Francisco. I've seen a lot of crazy things on that commute, and I think security is
    in serious need of some attention. Particularly gate security. I'd venture to say a huge
    percent of the negative press BART is getting is by the same people I see hopping the 
    fare gate every single day. Nothing is ever done about it.</p>

    <p>I love BART, but I've had it with the overly-aggressive begging, bodily fluids, needles, and just plain garbage
    I see on a daily basis.</p>

    <p><i class="fa fa-twitter" aria-hidden="true"></i> Follow <a href="https://twitter.com/bart_crimes">@bart_crimes</a> on Twitter to receive each incident in your feed.</p>


    <h3>Donate</h3>
    <p>If you like this site enough to want to help with hosting costs, donations are appreciated
        (but not at all required)</p>




            <p>
                <h4>PayPal</h4> <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3C5A6CQC8S8ZN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <h4>BitCoin</h4>
                <div>
                    <a href="bitcoin:1KzTSfqjF2iKCduwz59nv2uqh1W2JsTxZH"> <code>17FJJYY2B11Bx7xx5HepjJ3xAdaB14UMiw</code> </a>
                </div>
            </p>


            <h3>Need Some Work Done?</h3>
            <p>I offer consulting services if you'd like a web application build for your business.
                <a href="mailto:resume@bugben.com">Contact me</a> for rates.</p>



{% endblock %}
