<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="Publishing daily BART crime reports, which BART has chosen to stop sharing." name="description">

  <title>BART Crimes - Making Public Information Public</title>

  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
    .navbar {
      margin-bottom: 20px;
      background-color: #aecde0;
    }

    .date-picker {
      margin-bottom: 1rem;
    }

    .card {
      background-color: #f6fbfd;
      min-height: 300px;
      margin-bottom: 10px;
    }

    .card-header {
      background-color: #c2deec;
    }

    .card-footer {
      background-color: #e6f6ff;
    }

    .incidentTitle {
      color: #005;
      text-decoration: none !important;
    }

    .share-buttons {
      margin: 5px;
      line-height: 10px;
    }
  </style>
  <meta content="@bart_crimes" name="twitter:site">
  <meta content="https://www.bartcrimes.com{{ request.path }}" property="og:url">
  <meta content="252066728645375" property="fb:app_id">
</head>
<body>
  {% block head %}{% endblock %}
  <div id="fb-root"></div>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container">
      <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarNavDropdown" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button> <a class="navbar-brand" href="/">BART Crimes</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %} {% endblock %}
    <hr>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Made with 💩 by <a href="http://www.bugben.com">Ben Friedland</a> &bull; <i aria-hidden="true" class="fa fa-github"></i> <a href="http://www.github.com/ben174/bart-crime">View the source</a> &bull; <i aria-hidden="true" class="fa fa-info"></i> <a href="/about">About this site</a> &bull; <i aria-hidden="true" class="fa fa-twitter"></i> <a href="https://twitter.com/bart_crimes">@bart_crimes</a></p>
    </div>
  </footer>
  <script async charset="utf-8" src="//platform.twitter.com/widgets.js"></script>
  <script>
    (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=252066728645375";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-103411442-1', 'auto');
       ga('send', 'pageview');
  </script>
</body>
</html>
