<nav class="date-pagination">
  <div class="row">
    <div class="col">
      {% if prev_date %}
      <div class="text-left">
        <a class="btn btn-outline-primary" href="/date/{{ prev_date|date:'Y-m-d' }}" role="button">&larr; <span class="d-none d-sm-inline">{{ prev_date|date:"l, F jS" }}</span></a>
      </div>{% endif %}
    </div>
    <div class="col">
      <div class="text-center date-changer{% if top %} date-changer-top{% else %} date-changer-bottom{% endif %}">
        <h3 title="Click to change date"><b>{{ curr_date }}</b></h3>
      </div>
    </div>
    <div class="col">
      {% if next_date %}
      <div class="text-right">
        <a class="btn btn-outline-primary" href="/date/{{ next_date|date:'Y-m-d' }}" role="button"><span class="d-none d-sm-inline">{{ next_date|date:"l, F jS" }}</span> &rarr;</a>
      </div>{% endif %}
    </div>
  </div>
</nav>
