{% extends 'base.html' %}
{% block content %}
<h1 class="display-2">Bart Crimes</h1>
<h2>{{ current_date }}</h2>


<div class="row">
{% for incident in incidents %}
  <div class="col-sm-6">
    <div class="card" style="background-color: #EEF; min-height: 300px; margin: 10px;">
      <div class="card-block">
		<h4 class="card-title">
		  <i class="fa fa-{{ incident.icon }}" aria-hidden="true"></i>
		  {{ incident.title }}
		</h4>
		<h6 class="card-subtitle mb-2 text-muted">
		  {% if incident.location %}
		  {{ incident.location }} - 
		  {% endif %}
		  {{ incident.incident_dt|date:"g:m A" }}
		</h6>
		<p class="card-text">{{ incident.body }}</p>
		<a href="/incident/{{ incident.id }}" class="card-link">permalink</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
<a href="/date/{{ prev_date|date:"Y-m-d" }}">{{ prev_date }}</a>
{% endblock %}
