{% load humanize %}
<div class="col-sm-6 d-flex pb-3">
  <div class="card card bg-light">
    <h3 class="card-header"><a class="incident-title" href="/incident/{{ incident.id }}">{% if incident.icon %}<i aria-hidden="true" class="fa fa-{{ incident.icon }}"></i>&nbsp;{% endif %}{{ incident.title }}</a></h3>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{% if incident.station %} <b><a href="/station/{{ incident.station.abbreviation }}">{{ incident.station.name }}</a></b> - {% elif incident.location %} <b>{{ incident.location }}</b> - {% endif %} <span class="dotted-date" title="{{ incident.incident_dt|date:'r' }}">{{ incident.incident_dt|date:"g:i A" }}</span> {% if incident.case %} - Case: {{ incident.case }} {% endif %}</h6>
      <p class="card-text">{{ incident.body }}</p>
      <div class="col-xs-6">
        <i aria-hidden="true" class="fa fa-{{ incident.arrested|yesno:'check,times' }}"></i> Arrest<br>
        <i aria-hidden="true" class="fa fa-{{ incident.prohibition_order|yesno:'check,times' }}"></i> Prohibition order<br>
        <i aria-hidden="true" class="fa fa-{{ incident.warrant|yesno:'check,times' }}"></i> Warrant related<br>
      </div>{% for tag in incident.tags.all %}<a href="/tag/{{ tag.slug }}" class="badge badge-pill badge-secondary">{{ tag.name }}</a>&nbsp;{% endfor %}<br>
      <div class="share-buttons">
        <a class="twitter-share-button" data-related="bart_crimes" data-show-count="false" data-text="{{ incident.tweet_text }}" data-url="{{ incident.get_url }}" data-via="bart_crimes" href="https://twitter.com/share">Tweet</a>&nbsp;
        <div class="fb-share-button" data-href="{{ incident.get_url }}" data-layout="button_count" data-mobile-iframe="true" data-size="small">
          <a class="fb-xfbml-parse-ignore" href="https://www.facebook.com/sharer/sharer.php?u={{ incident.get_url|urlencode }}&amp;src=sdkpreparse" target="_blank">Share</a>
        </div>
      </div>
      <div class="incident-actions">
        <a class="card-link" href="/incident/{{ incident.id }}">{% if incident.comment_set.all|length > 0 %}{{ incident.comment_set.all|length }} comment(s){% else %}add a comment{% endif %}</a>
        {% if user.is_superuser %}
        <a class="card-link" href="{% url 'admin:reports_incident_change' incident.id %}">edit in admin</a>
        {% endif %}
      </div>
    </div>
    <div class="card-footer text-muted">
      <span class="dotted-date" title="{{ incident.incident_dt|date:'r' }}">{{ incident.incident_dt|naturaltime }}</span>
    </div>
  </div>
</div>
